<p id="notice"><%= notice %></p>
<div class='toppage'>
  <h1 class='top'>Tasks</h1>
  <div class='row'>
    <div class='col-md-4'>
      <div class='schedule'>schedule
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Content</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
            <tr>
              <td><%= link_to task.title, task %></td>
              <td><%= task.start_time.strftime("%m-%d") %>
              <td><%= task.content %></td>
              <td><%= link_to 'Show', task %></td>
              <td><%= link_to 'Edit', edit_task_path(task) %></td>
              <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= form_with(model: @task,local: true ) do |form| %>

        <br>

        <%= link_to 'New Task', new_task_path %>
        <div class='title'>
          <div class='form-tag'>title</div>
          <%= form.text_field :title %>
        </div>
        <div class='content'>
          <div class='form-tag'>content</div>
          <%= form.text_field :content %>
        </div>
        <div class='time'>
          <div class='form-tag'>date</div>
          <%= form.datetime_select :start_time %>
        </div>
        <div class="submit">
          <%= form.submit %>
        </div>
        <% end %>
      </div>

      <div class='col-md-8'>
        <%= month_calendar events: @tasks do |date, tasks| %>
        <%= date.day %>
        <% tasks.each do |task| %>
        <div>
          <%= link_to task.title, task %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>